meta_ai_api
langchain
langchain_community
streamlit
llama_index
llama-index-embeddings-huggingface
llama-index-llms-ollama
PyPDF2
streamlit_pdf_viewer
langchain-ollama
streamlit-webrtc
av
opencv-python
pydub
SpeechRecognition
pyaudio
langchain_chroma
fastapi
python-multipart
requests_toolbelt
gtts
langchain-pinecone
pyttsx3
# useful-moonshine@git+https://github.com/usefulsensors/moonshine.git
google-cloud-speech
silero_vad
sounddevice
keyboard
openai-whisper
# useful-moonshine-onnx@git+https://git@github.com/usefulsensors/moonshine.git#subdirectory=moonshine-onnx
