meta_ai_api
langchain
langchain_community
streamlit
llama_index
llama-index-embeddings-huggingface
llama-index-llms-ollama
PyPDF2
streamlit_pdf_viewer
langchain-ollama
streamlit-webrtc
av
opencv-python
pydub
SpeechRecognition
pyaudio
langchain_chroma